@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

textarea,
button,
a,
p,
input,
ul,
li,
select {
  all: unset;
  scroll-behavior: smooth;
  transition: 0.2s all ease-in-out;
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button,
a,
select {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  line-height: 10px;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow-y: overlay;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1FCFC4;
  border-radius: 50px;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(20%);
  transition: all 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(20%);
}



#copyright {
  position: relative;
  bottom: 0;
  right: 15px;
  text-align: right;
  margin-top: 150px;
}